.container {
  width: 100%;
  height: 25px;
}

.emojiBar {
  width: 100%;
  height: 27px;
  margin-bottom: 0.25vw;
}

.emojiBar > div > img {
  height: 100%;
}

.emojiBar > div {
  position: relative;
  height: 100%;
  margin-left: -3%;
  display: inline-block;
}

.zero {
  left: 0%;
}

.outer {
  width: 100%;
  height: 25px;
  background-color: #f3eef2;
  border-radius: 20px;
  display: flex;
  justify-content: left;
}

.inner {
  height: 100%;
  border-radius: 22px;
}

.percentage {
  float: right;
  color: #fff;
  margin-top: 1vw;
}
